body {
    height: 100vh;
    color: #5b5a6c;
    font-size: 1.5em;
    transition: background-color 5s;
    background-position: 100% 100%;
    background-size: 10%;
    background-color: #dce1c0;
    background-image: url(../img/fold.png);
    background-repeat: no-repeat;
    text-align: center; 
}
body.colored {
	background-color: #c0d6e1;
	transition: background-color 5s;
}

h1,h2,h3 {
    color: #f27c5e;
    font-family: 'Reenie Beanie', cursive;
}
h1 {font-size: 4em}
h2 {font-size: 2.5em}
h3 {font-size: 2em}

a {
    color: #5b5a6c;
}
a:hover{
    color: #f27c5e;
}
#portfolio a{
    font-size: .8em;
}
ul {
    list-style: none;
    padding-left: 0px;
}
li{
    background-image: url('../img/todo.svg');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 1px 1px;
    padding-left: 25px;
    margin-bottom: 10px;
    text-align: left;
}
.list-group-item{
    background-color: none !important;

}

img{
    width: 20px;
    height: 20px;
}