/* Coolors Exported Palette - coolors.co/ffffff-00a8e8-007ea7-003459-00171f */

/* HSL */
$color1: hsla(0%, 0%, 100%, 1);
$color2: hsla(197%, 100%, 45%, 1);
$color3: hsla(195%, 100%, 33%, 1);
$color4: hsla(205%, 100%, 17%, 1);
$color5: hsla(195%, 100%, 6%, 1);

/* RGB */
$color1: rgba(255, 255, 255, 1);
$color2: rgba(0, 168, 232, 1);
$color3: rgba(0, 126, 167, 1);
$color4: rgba(0, 52, 89, 1);
$color5: rgba(0, 23, 31, 1);