/* Coolors Exported Palette - coolors.co/70c1b3-ffe066-f25f5c-247ba0-50514f */

/* HSL */
$color1: hsla(170%, 40%, 60%, 1);
$color2: hsla(48%, 100%, 70%, 1);
$color3: hsla(1%, 85%, 65%, 1);
$color4: hsla(198%, 63%, 38%, 1);
$color5: hsla(90%, 1%, 31%, 1);

/* RGB */
$color1: rgba(112, 193, 179, 1);
$color2: rgba(255, 224, 102, 1);
$color3: rgba(242, 95, 92, 1);
$color4: rgba(36, 123, 160, 1);
$color5: rgba(80, 81, 79, 1);