@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Montserrat');

body {
  font-family: var(--font-primary), sans-serif;
  background-color: var(--color1);
  color: var(--color5);
}

a {
  color: var(--color5);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.secondary {
 text-transform: uppercase;
 font-family: var(--font-secondary), 'Courier New', Courier, monospace; 
 font-weight: 100;
}
.layout-center {
  max-width: 1000px; 
  margin-left: auto;
  clear: both;
}

.Header {
  float: right;
  top: -10vh;
  width: 100%;
  height: 10vh;
  background-color: var(--color1);
  color: var(--color5);
  transition: 
  background-color cubic-bezier(.45,.05,.55,.95) 1s,
  top ease 1s;
}
.Header--Gone {
  display: none;
}
.Header--Hidden {
  position: fixed;
  top: -10vh;
  transition: 
  top ease 1s,
  box-shadow ease 1s;
  background-color: var(--color5);
  color: var(--color1);
}
.Header--Sticky {
  position: fixed;
  top: 0vh;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
  background-color: var(--color5);
  color: var(--color1);
}


.Logo {
  flex: 1 0 60%;
}
.Logo__Border {
  width: 3rem;
  height: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.Navigation {
  margin: 0;
  flex: 1 0 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.Navigation__Item {
  list-style: none;
  margin-right: 16px;
}

.Light{
  width: 2rem;
  fill: var(--color2);
}

@media screen and (max-width: 30em) {
  .Navigation, .Header--Sticky, .Header--Hidden {
    display: none;
  }
}


.Intro{
  height: 100vh;
  background-image: url('../assets/background-light.jpg');
  background-size: cover;
  background-attachment: fixed;
  transition: background-image 0.2s ease-in-out;
}
@media screen and (max-width: 30em) {
  .Intro {
    background-position: -310px 0;
    background-size: 1150px;
  }
}


.Intro--flex{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Post {
  margin-top : 3rem;
}


#Projects {
  background-color: var(--color2);
  
}
.Project {
  flex: 1 0 100%;
}

@media screen and (min-width: 40em) {
  .Project {
    flex: 1 0 50%;
    min-height: 300px;
  }
}

@media (--breakpoint-medium) {
  .Project {
    flex: 1 0 50%;
  }
}

@media (--breakpoint-large) {
  .Project {
    flex: 1 0 50%;
  }
}


.About {
  min-height: 50vh;
}

:root {
  --color1: #FDF8F4;
  --color2: #FF5A5F;
  --color3: #DAD9D7;
  --color4: #939393;
  --color5: #4E4E4E;

  --font-primary: 'Monserrat';
  --font-secondary: 'Julius Sans One';
}

/* ATOMIC */
.color1 {color: var(--color1);fill: var(--color1)}
.color2 {color: var(--color2);fill: var(--color2)}
.color3 {color: var(--color3);fill: var(--color3)}
.color4 {color: var(--color4);fill: var(--color4)}
.color5 {color: var(--color5);fill: var(--color5)}

.bg-color1 {background-color: var(--color1)}
.bg-color2 {background-color: var(--color2)}
.bg-color3 {background-color: var(--color3)}
.bg-color4 {background-color: var(--color4)}
.bg-color5 {background-color: var(--color5)}

