@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Nothing+You+Could+Do');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Handlee');
body {
  font-family: var(--font-primary), sans-serif;
  
  color: var(--color5);
}

.secondary {
 font-family: var(--font-secondary), 'Courier New', Courier, monospace; 
 font-weight: 100;
}
.layout-center {
  max-width: 1000px; 
  margin-left: auto;
  clear: both;
}

.Header {
  float: right;
  top: 0;
  width: 100%;
  height: 3vh;
}
.Logo {
  flex: 1 0 60%;
}
.Navigation {
  margin: 0;
  flex: 1 0 40%;
  display: flex;
  justify-content: flex-end;
}
.Navigation__Item {
  list-style: none;
  margin-right: 16px;
}

.Intro{
  height: 100vh;
  background-image: url('../assets/background.jpg');
  background-size: cover;
}
@media screen and (max-width: 30em) {
  .Intro {
    background-position: -160px;
  }
}


.Intro--flex{
  // border: 1px solid red;
  height: 100%;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // padding: 20rem 0;
}

.Post {
  margin-top : 3rem;
}


.Project {
  flex: 1 0 100%;
}

@media screen and (min-width: 40em) {
  .Project {
    flex: 1 0 50%;
    min-height: 300px;
  }
}

@media (--breakpoint-medium) {
  .Project {
    flex: 1 0 50%;
  }
}

@media (--breakpoint-large) {
  .Project {
    flex: 1 0 50%;
  }
}


.About {
  min-height: 50vh;
  background-color: var(--color2);
}

:root {
  --color1: #FDF8F4;
  --color2: #FF5A5F;
  --color3: #DAD9D7;
  --color4: #939393;
  --color5: #4E4E4E;

  --font-primary: 'Raleway';
  --font-secondary: 'Handlee';
}

/* ATOMIC */
.color1 {color: var(--color1)}
.color2 {color: var(--color2)}
.color3 {color: var(--color3)}
.color4 {color: var(--color4)}
.color5 {color: var(--color5)}

.bg-color1 {background-color: var(--color1)}
.bg-color2 {background-color: var(--color2)}
.bg-color3 {background-color: var(--color3)}
.bg-color4 {background-color: var(--color4)}
.bg-color5 {background-color: var(--color5)}

